/* The switch - the box around the slider */
*::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.escrita {
    display: block;
    font-size: 15px;
    width: 70%;
    font-weight: normal;
    color: white;
    padding-block: 5px;
    margin: 45px auto;
    border-radius: 20px;
    box-shadow: rgba(133, 215, 194, 0.878) 0px 20px 10px -15px;
    border: none;
    transition: all 0.2s ease-in-out;
    color: white;
    text-transform: uppercase;
}

.contato {
    display: block;
    font-size: 13px;
    width: 70%;
    font-weight: normal;
    color: white;
    padding-block: 5px;
    margin: 8px auto;
    border-radius: 20px;
    box-shadow: rgba(133, 215, 194, 0.878) 0px 20px 10px -15px;
    border: none;
    transition: all 0.2s ease-in-out;
    color: rgb(0, 0, 0);
    text-transform: uppercase;

}

h3 {
    margin-top: 20px;
    /* Ajuste o valor conforme necessário */
}


.switch-container {
    position: absolute;
    top: 0;
    left: 0;
    padding: 9px;
    display: block;
    flex-direction: column;
    align-items: end;
    width: 285px;
    height: 95%;
}

.switch-container main {
    border-radius: 15px;
    position: absolute;
    padding: 8px;
    padding-top: 32px;
    width: 100%;
    height: 100%;
    color: white;
    background: linear-gradient(45deg, rgb(12, 158, 146) 0%, rgb(63, 217, 223) 100%);
}

.switch-container main.off {
    display: none;

}


.switch {
    font-size: 1rem;
    position: absolute;
    display: inline-block;
    width: 4em;
    height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: #eee;
    transition: 0.4s;
    border-radius: 0.5em;
    box-shadow: 0 0.2em #dfd9d9;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.5em;
    width: 1.4em;
    border-radius: 0.3em;
    left: 0.3em;
    bottom: 0.7em;
    background-color: lightsalmon;
    transition: 0.4s;
    box-shadow: 0 0.4em #bcb4b4;
}

.slider:hover::before {
    box-shadow: 0 0.2em #bcb4b4;
    bottom: 0.5em;
}

input:checked+.slider:before {
    transform: translateX(2em);
    background: lightgreen;
}

@media (max-width: 480px) {
    body {
        color: #299b8c;
    }
}

.button,
.button1,
.button2,
.button3 {
    z-index: 2;
    position: relative;
    margin-top: 5%;
    left: 50%;
    width: 150px;
    height: 100px;
    border-radius: 15px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1);
    border: 0px;
    cursor: pointer;
    outline: 0px;
    padding: 0 2px;
    font-weight: 600;
    font-size: 13px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.button1 {
    left: 50%;
}

.button2 {
    left: 56.5%;
}

.button3 {
    left: 56.5%;
}


.backdrop,
.backdrop1,
.backdrop2,
.backdrop3 {
    position: absolute;
    z-index: 1;
    width: 150px;
    height: 100px;
    background: linear-gradient(45deg, rgb(12, 158, 146) 0%, rgb(63, 217, 223) 100%);
    border-radius: 15px;
    transition: all ease-in-out 0.5s; /* Esta transição deve ser aplicada a todos os backdrops */
}

.backdrop {
    top: 33%;
    left: 53.5%;
}

.backdrop1 {
    top: 56%;
    left: 53.5%;
}

.backdrop2 {
    top: 33%;
    left: 68.4%;
}

.backdrop3 {
    top: 56%;
    left: 68.4%;
}


.button:hover+.backdrop,
.button1:hover+.backdrop1,
.button2:hover+.backdrop2,
.button3:hover+.backdrop3{
    top: 80;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transform: rotate(15deg) translateX(5%) translateY(-20%);
}


.button:active,
.button:active+.backdrop,
.button1:active,
.button1:active+.backdrop1,
.button2:active,
.button2:active+.backdrop2,
.button3:active,
.button3:active+.backdrop3 {
    box-shadow: none;
}


a {
    color: inherit; /* Herda a cor do elemento pai, assim não terá uma cor específica para o link */
}
