body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.chat-popup {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 400px;
    height: 500px; /* Aumentei a altura do chat */
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
}

.profile-list {
    width: 80px; /* Reduzi um pouco a largura dos perfis */
    height: 100%;
    float: left; /* Alinhar os perfis ao lado esquerdo */
    overflow-y: scroll;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.profile-name {
    font-weight: bold;
}

.chat {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden; /* Adicionado overflow para a barra de rolagem aparecer apenas no chat */
}

.chat-header {
    background-color: #075e54;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.chat-messages {
    flex: 1;
    overflow-y: scroll;
    padding: 10px;
}

.chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ccc;
}

.chat-input input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 10px;
}

.chat-input button {
    padding: 8px 15px;
    background-color: #075e54;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.open-chat-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #075e54;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.emoji-picker {
    position: absolute;
    bottom: 70px;
    right: 20px;
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.emoji-picker button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.message {
    background-color: #f0f0f0;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.message.sent {
    background-color: #dcf8c6;
    align-self: flex-end;
}

.message.received {
    background-color: #fff;
    align-self: flex-start;
}

.message-info {
    font-size: 0.8em;
    color: #888;
    margin-top: 3px;
}



